/*:root {
  --void: #000000;
  --air: #ffffffa0;
  --water: #241dfb;
  --sky: #0da4e5;
  --light: #ffffff;
  --neon: #c703e17c;
}*/

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans';
  }

  html, body {
    margin:0;
    padding:0;
    color: #ffffffa0;
  }

header {
  background-image: url("./images/abstract-blue.jpg");
  background-size: cover;
  background-position: center ;
  background-blend-mode: multiply;
  padding-bottom: 30px;
}

.main-header ul {
  text-align: right;
  font-size: 150%;
}

a:hover {
  background-color: #646968df;
}

a {
  display: inline-block;
  margin-inline: 20px;
  color: #ffffffa0;
  text-decoration: none;
}

h1 {
  display: inline;
  color: #ffffffa0;
  font-size: 300%;
  margin: 0;
}

h2 {
  color: #0da4e5;
}

p {
  color: blue;
}

footer {
  color: beige
}
