*  {
  border: 1px solid var(--sky);
}

:root {
  --void: #000000;
  --air: #ffffffa1;
  --water: #241dfb;
  --sky: #0da4e5;
  --light: #ffffff;
  --neon: #c703e17c;
}

.main-header {
  background-color: var(--void) .6;
  background-image: url();
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

body {
  background-color: var(--light);
}

header {
  color: var(--void);

}

a {
  color: var(--void)
}

h1 {
  padding: 20px;
}

h2 {
  color: var(--water);
}

nav {
  padding: 30px;
  text-align: right;
  color: var(--void)
}

p {
  color: var(--void)
}

footer {
  color: var(--void)
}
  
  @media screen and (max-width: 576px) {
    body {
      background: var(--light);
    }
  }

  @media screen and (max-width: 768px) {
    body {
      background: var(--light);
    }
  }
  
  @media screen and (max-width: 992px) {
    body {
      background: var(--light);
    }
  }
